{{!< layout/master.handlebars}}
{{!-- index.handlebars in views--}}

<section id="city-banner" class="cover">
    <div class="container">
        <div class="row">
            <div class="col xs12 s10 offset-s1">
                <div class="white panel" style="margin-top: 125px">
                    <h2 class="display">About Me</h2>
                    <h3 class="display">And by me, I mean Chris Coppola</h3>

                    <div class="container">
                        <h2>Where it all began...</h2>
                        <p>
                            My love of coding was an offshoot of my love for gaming. I started playing games at a very young age, playing classics such as Super Mario Bros, Sonic the Hedgehog, Zelda, Chrono Trigger and Diablo II. I was open to playing all types of games because as I was playing, I was learning.
                        </p>
                        <div class="container">
                            <div class="row">
                                <div class="col xs4">
                                    <div class="line-border overlay">
                                        <img class="responsive" src="/images/games/thumb/super-mario-bros-1.png"/>
                                        <div class="overlay-content primary">
                                            <i class="fa fa-search"></i>
                                            <p>Super Mario Bros.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col xs4">
                                    <div class="line-border overlay">
                                        <img class="responsive scale-on-hover" src="/images/games/thumb/chrono-trigger-1.png"/>
                                        <div class="overlay-content secondary">
                                            <i class="fa fa-search"></i>
                                            <p>Super Mario Bros.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col xs4">
                                    <div class="line-border overlay">
                                        <img class="responsive scale-on-hover" src="/images/games/thumb/diablo-2-1.png"/> 
                                        <div class="overlay-content tertiary">
                                            <i class="fa fa-search"></i>
                                            <p>Super Mario Bros.</p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <p>
                            I learned about World History, playing Age of Empires II. The random map system was amazing, but my real love was in the Single Player Campaign. I still remember my first time playing the Joan of Ark campaign. Because of this game, I have grown to love researching about the ancient and current civilizations, weapons technology, war strategies, and cultural influences. 
                        </p>
                        <p>
                            My coding experience started with a program called RPG Maker 2000. This program was used to make Japanese, turn based RPG's like Final Fantasy. Later versions implemented a scripting language called Ruby (I'm sure you've heard of it.) to make all sorts of changes to the engine. Although I was no good at coding, I could make basic modifications to other peoples code.
                        </p>

                        <h3>Heading 3</h3>
                        <p>
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</q> Curabitur eleifend nunc eu dolor scelerisque, eu elementum nisi sodales. Aenean faucibus accumsan ligula, non ornare augue finibus tristique. Nullam pellentesque et orci vitae tempor. Nullam in purus lacinia libero aliquam placerat. Nulla eleifend cursus nunc, id imperdiet justo molestie nec. Morbi
                        </p>
                        
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend nunc eu dolor scelerisque, eu elementum nisi sodales.</p>
                        </blockquote>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend nunc eu dolor scelerisque, eu elementum nisi sodales. Aenean faucibus accumsan ligula, non ornare augue finibus tristique. Nullam pellentesque et orci vitae tempor. Nullam in purus lacinia libero aliquam placerat. Nulla eleifend cursus nunc, id imperdiet justo molestie nec. Morbi
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div>
</section>

<!--
<div class="container">

    <h2>This is the {{title}} page!</h2>
    <div class="row">
        <div class="col{{#if posts}} m8{{/if}}">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend nunc eu dolor scelerisque, eu elementum nisi sodales. Aenean faucibus accumsan ligula, non ornare augue finibus tristique. Nullam pellentesque et orci vitae tempor. Nullam in purus lacinia libero aliquam placerat. Nulla eleifend cursus nunc, id imperdiet justo molestie nec. Morbi
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend nunc eu dolor scelerisque, eu elementum nisi sodales. Aenean faucibus accumsan ligula, non ornare augue finibus tristique. Nullam pellentesque et orci vitae tempor. Nullam in purus lacinia libero aliquam placerat. Nulla eleifend cursus nunc, id imperdiet justo molestie nec. Morbi
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend nunc eu dolor scelerisque, eu elementum nisi sodales. Aenean faucibus accumsan ligula, non ornare augue finibus tristique. Nullam pellentesque et orci vitae tempor. Nullam in purus lacinia libero aliquam placerat. Nulla eleifend cursus nunc, id imperdiet justo molestie nec. Morbi
            </p>
            <div class="panel prompt light-3">
                <a href="#" class="btn prompt x-small">x-small</a>
                <a href="#" class="btn info small">small</a>
                <a href="#" class="btn">normal</a>
                <a href="#" class="btn success large">large</a>
                <a href="#" class="btn warning x-large">x-large</a>
                <a href="#" class="btn danger huge">huge</a>
            </div>
            
            <div class="flat panel info light-3">
                <a href="#" class="btn prompt x-small">x-small</a>
                <a href="#" class="btn info small">small</a>
                <a href="#" class="btn">normal</a>
                <a href="#" class="btn success large">large</a>
                <a href="#" class="btn warning x-large">x-large</a>
                <a href="#" class="btn danger huge">huge</a>
            </div>
            
            <div class="arcade panel success light-3">
                <a href="#" class="btn prompt x-small">x-small</a>
                <a href="#" class="btn info small">small</a>
                <a href="#" class="btn">normal</a>
                <a href="#" class="btn success large">large</a>
                <a href="#" class="btn warning x-large">x-large</a>
                <a href="#" class="btn danger huge">huge</a>
            </div>
        </div>
        {{#if posts}}
        <div class="col m4">
            <h3>Recent Blog Posts</h3>
            <div class="row">
                <div class="container">
                    {{#each posts}}
                        <h3>{{title}}</h3>
                        <h5>Posted By: {{author}}</h5>
                        <div>
                            <p>
                                {{snippet}}
                            </p>
                        </div>
                        <br/>
                        <div>
                            <a href="/blog/{{_id}}">Read More</a>
                        </div>
                        <hr/>
                    {{/each}}
                </div>
            </div>
        </div>                    
        {{/if}}    
    </div>
</div>
-->
