<section id="{{name}}-banner" class="main banner {{classes}}">
    <div class="background {{background-classes}}"></div>
    <div class="overlay {{overlay-classes}}"></div>
    <div class="banner-content">
        <div class="caption-boxes">
            {{#if title}}<h1 class="display white-text">{{title}}</h1>{{/if}}
            {{#if subtitle}}<h2 class="display white-text"><span>{{subtitle}}</span></h2>{{/if}}
            {{#if text}}<div class="white-text">{{text}}</div>{{/if}}
        </div>
    </div>
</section>